# Lectura de bases de datos
<br>
<figure>
  <img src="https://raw.githubusercontent.com/fhernanb/fhernanb.github.io/master/docs/logo_unal_color.png" alt="Logo unal" width="304" height="228">
</figure>
<br>

En esta lección vamos a mostrar como leer bases de datos en:
- formato .txt
- formato .csv
- desde una url

En la carpeta Datos que está en este mismo repositorio se encuentran unas bases de datos sencillas que vamos a utilizar, los nombres de las bases de datos son: `datos1.txt` y `datos2.csv`.

La librería que vamos a usar se muestra a continuación.

In [1]:
import pandas as pd  # Librería con la función read_csv

## Lectura de archivos .txt

Para leer este tipo de archivos usamos la función `read_table`, la documentación completa de la función se puede consultar [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html).

Vamos a leer la base de datos `datos1.txt`. La información se almacenará en el marco de datos `dt1`, a continuación la instrucción.

In [2]:
dt1 = pd.read_table("Datos/datos1.txt", sep=" ")

Para explorar lo que está dentro de `dt1` usamos la función `head` así:

In [3]:
dt1.head()

   edad    sexo fuma deporte
0    25   Mujer   No      Si
1    36  Hombre   Si      No
2    45   Mujer   Si      Si
3    28   Mujer   No      No

De la salida anterior vemos que la base `dt1` tiene cuatro variables.

## Lectura de archivos .csv

Para leer este tipo de archivos usamos la función `read_csv`, la documentación completa de la función se puede consultar [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).

Vamos a leer la base de datos `datos2.txt`. La información se almacenará en el marco de datos `dt2`, a continuación la instrucción.

In [4]:
dt2 = pd.read_csv("Datos/datos2.csv", sep=";")

Para explorar lo que está dentro de `dt2` usamos la función `head` así:

In [5]:
dt2.head()

   mes  dia  ventas
0    5   25    2563
1    7   14    2541
2   10   30     563

De la salida anterior vemos que la base `dt2` tiene tres variables.

## Lectura desde una url

Para leer este tipo de archivos se puede usar nuevamente la función `read_csv`, la documentación completa de la función se puede consultar [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).

Vamos a leer la base de datos `medidas_cuerpo2` que se encuentra disponible [aquí](https://raw.githubusercontent.com/fhernanb/datos/master/medidas_cuerpo2). La información se almacenará en el marco de datos `dt3`, a continuación la instrucción.

In [6]:
url = 'https://raw.githubusercontent.com/fhernanb/datos/master/medidas_cuerpo2'
dt3 = pd.read_csv(url, comment='#', delimiter='\t')
dt3.head()

   Peso Sexo  Estatura  circun_cuello   circun_muneca
0  47.6    F      1.57            29.5           13.9
1  68.1    M      1.66            38.4           16.0
2  68.0    M      1.90            36.5           16.6
3  80.0    M      1.76            38.0           17.1
4  68.1    M      1.83            38.0           17.1

De la salida anterior vemos que la base `dt3` tiene cinco variables.