# Exploración con `seaborn`
<figure>
  <img src="logo_unal.png" alt="The Pulpit Rock" width="304" height="228">
</figure>

En esta lección se mostrará como usar `seaborn` para crear gráficos con el objetivo de explorar una base de datos.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

## Leyendo los datos del ejemplo

Para el ejemplo vamos a usar la base de datos sobre apartamentos usados en la ciudad de Medellín, la base de datos está disponible en [este enlace](https://raw.githubusercontent.com/fhernanb/datos/master/aptos2015). Para leer la base de datos usamos las siguientes instrucciones.

In [11]:
url = 'https://raw.githubusercontent.com/fhernanb/datos/master/aptos2015'
dt = pd.read_table(url, comment='#', sep=' ')
dt.head()

,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,parqueadero,administracion,avaluo,terminado
1,79.0,43.16,norte,3,3,1,si,si,0.050,14.923002,no
2,93.0,56.92,norte,2,2,1,si,si,0.069,27.000000,si
3,100.0,66.40,norte,3,2,2,no,no,0.000,15.738427,no
4,123.0,61.85,norte,2,3,2,si,si,0.130,27.000000,no
5,135.0,89.80,norte,4,3,2,si,no,0.000,39.567000,si