# Ejemplo de Regresión Logística
<img src="https://raw.githubusercontent.com/fhernanb/fhernanb.github.io/master/docs/logo_unal_color.png" alt="drawing" width="200"/>

# Objetivo
En este ejemplo se busca crear un clasificador para saber si una persona sobrevive o no en el naufragio del Titanic.

<img src="https://raw.githubusercontent.com/fhernanb/Python-para-estadistica/master/imagenes/titanic.png" alt="drawing" width="900">

In [1]:
import pandas as pd  # Librería con las funciones read_table y read_csv
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression

In [2]:
dt = pd.read_csv("titanic.csv", sep=",")
dt.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
dt_pclass = pd.get_dummies(dt['Pclass'])
dt_new = pd.concat([dt, dt_pclass], axis=1)
dt_new.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,1,2,3
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,0,0,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,1,0,0
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,1,0,0
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,0,0,1

In [4]:
dtnew_sex = pd.get_dummies(dt['Sex'])
dt_new = pd.concat([dt_new, dtnew_sex], axis=1)
dt_new.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,1,2,3,female,male
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,0,0,1,0,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,1,0,0,1,0
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1,1,0
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,1,0,0,1,0
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,0,0,1,0,1

## Creación de los datos de entrenamiento (train) y de validación (test)
Para particionar los datos originales se usa la función `train_test_split`, para mayores detalles se recomienda consultar los parámetros de la función se recomienda consultar este [enlace](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [5]:
datos = dt_new[[2, 3, 'male', 'Age', 'Fare']]
respuesta = dt_new['Survived']
X_train, X_test, y_train, y_test = train_test_split(datos, respuesta, test_size=0.25)

# Regresión logística usando `sklearn`

In [6]:
mod = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(X_train, y_train)
mod

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='multinomial',
          n_jobs=1, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [7]:
mod.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'max_iter': 100,
 'multi_class': 'multinomial',
 'n_jobs': 1,
 'penalty': 'l2',
 'random_state': 0,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [8]:
mod.predict(X_train)[0:14]

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [9]:
mod.predict(X_test)[0:14]

array([1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1], dtype=int64)

In [10]:
mod.predict_proba(X_train)

array([[0.77517676, 0.22482324],
       [0.71468786, 0.28531214],
       [0.73470519, 0.26529481],
       ...,
       [0.43880954, 0.56119046],
       [0.67515343, 0.32484657],
       [0.78153304, 0.21846696]])

In [11]:
mod.predict_proba(X_test)

array([[0.37809001, 0.62190999],
       [0.75206657, 0.24793343],
       [0.5180465 , 0.4819535 ],
       [0.41870855, 0.58129145],
       [0.73810861, 0.26189139],
       [0.429638  , 0.570362  ],
       [0.63798494, 0.36201506],
       [0.47183963, 0.52816037],
       [0.40414233, 0.59585767],
       [0.75205909, 0.24794091],
       [0.76026119, 0.23973881],
       [0.18089323, 0.81910677],
       [0.63318162, 0.36681838],
       [0.22348295, 0.77651705],
       [0.7621709 , 0.2378291 ],
       [0.16813571, 0.83186429],
       [0.65963331, 0.34036669],
       [0.84269732, 0.15730268],
       [0.19600784, 0.80399216],
       [0.4539221 , 0.5460779 ],
       [0.83516424, 0.16483576],
       [0.26573373, 0.73426627],
       [0.23459814, 0.76540186],
       [0.7784048 , 0.2215952 ],
       [0.73084488, 0.26915512],
       [0.7311363 , 0.2688637 ],
       [0.6995819 , 0.3004181 ],
       [0.42524281, 0.57475719],
       [0.74531555, 0.25468445],
       [0.53422567, 0.46577433],
       [0.77522715, 0.22477285],
       [0.76102093, 0.23897907],
       [0.76547586, 0.23452414],
       [0.77342229, 0.22657771],
       [0.58707828, 0.41292172],
       [0.75553218, 0.24446782],
       [0.75388322, 0.24611678],
       [0.31171961, 0.68828039],
       [0.44253394, 0.55746606],
       [0.66080891, 0.33919109],
       [0.73455016, 0.26544984],
       [0.75883112, 0.24116888],
       [0.54818548, 0.45181452],
       [0.465098  , 0.534902  ],
       [0.75357394, 0.24642606],
       [0.74167229, 0.25832771],
       [0.8590852 , 0.1409148 ],
       [0.74869366, 0.25130634],
       [0.74516838, 0.25483162],
       [0.35288183, 0.64711817],
       [0.61895294, 0.38104706],
       [0.28144627, 0.71855373],
       [0.75885243, 0.24114757],
       [0.32305546, 0.67694454],
       [0.4127621 , 0.5872379 ],
       [0.19517374, 0.80482626],
       [0.34959428, 0.65040572],
       [0.69050728, 0.30949272],
       [0.68097561, 0.31902439],
       [0.25009181, 0.74990819],
       [0.82493326, 0.17506674],
       [0.36080003, 0.63919997],
       [0.51895127, 0.48104873],
       [0.55461243, 0.44538757],
       [0.34532233, 0.65467767],
       [0.54211656, 0.45788344],
       [0.77199254, 0.22800746],
       [0.74025777, 0.25974223],
       [0.76872382, 0.23127618],
       [0.51007678, 0.48992322],
       [0.36716743, 0.63283257],
       [0.74582315, 0.25417685],
       [0.8326255 , 0.1673745 ],
       [0.38604452, 0.61395548],
       [0.77531461, 0.22468539],
       [0.75894502, 0.24105498],
       [0.43867374, 0.56132626],
       [0.80273962, 0.19726038],
       [0.76547586, 0.23452414],
       [0.38876445, 0.61123555],
       [0.19973682, 0.80026318],
       [0.74163613, 0.25836387],
       [0.81113152, 0.18886848],
       [0.75639851, 0.24360149],
       [0.50008245, 0.49991755],
       [0.58342611, 0.41657389],
       [0.80745423, 0.19254577],
       [0.60786058, 0.39213942],
       [0.44354308, 0.55645692],
       [0.51568651, 0.48431349],
       [0.50500915, 0.49499085],
       [0.7554335 , 0.2445665 ],
       [0.83529634, 0.16470366],
       [0.49950162, 0.50049838],
       [0.74522405, 0.25477595],
       [0.30270292, 0.69729708],
       [0.82093077, 0.17906923],
       [0.77199254, 0.22800746],
       [0.38085683, 0.61914317],
       [0.23042547, 0.76957453],
       [0.80263657, 0.19736343],
       [0.78152139, 0.21847861],
       [0.47831108, 0.52168892],
       [0.7554335 , 0.2445665 ],
       [0.58707828, 0.41292172],
       [0.24667011, 0.75332989],
       [0.72055044, 0.27944956],
       [0.41625319, 0.58374681],
       [0.42964391, 0.57035609],
       [0.50900484, 0.49099516],
       [0.62462667, 0.37537333],
       [0.67227083, 0.32772917],
       [0.78769571, 0.21230429],
       [0.29031788, 0.70968212],
       [0.73450317, 0.26549683],
       [0.40802284, 0.59197716],
       [0.81675252, 0.18324748],
       [0.48396571, 0.51603429],
       [0.34494109, 0.65505891],
       [0.69132484, 0.30867516],
       [0.50263927, 0.49736073],
       [0.75182011, 0.24817989],
       [0.23585198, 0.76414802],
       [0.60290634, 0.39709366],
       [0.74506237, 0.25493763],
       [0.48079125, 0.51920875],
       [0.5151689 , 0.4848311 ],
       [0.16437646, 0.83562354],
       [0.4119252 , 0.5880748 ],
       [0.76557678, 0.23442322],
       [0.73114971, 0.26885029],
       [0.67745437, 0.32254563],
       [0.78667033, 0.21332967],
       [0.52742742, 0.47257258],
       [0.4756702 , 0.5243298 ],
       [0.44319193, 0.55680807],
       [0.18889682, 0.81110318],
       [0.61689589, 0.38310411],
       [0.32894083, 0.67105917],
       [0.81673449, 0.18326551],
       [0.28386974, 0.71613026],
       [0.24208427, 0.75791573],
       [0.752555  , 0.247445  ],
       [0.73484217, 0.26515783],
       [0.7996031 , 0.2003969 ],
       [0.6771963 , 0.3228037 ],
       [0.77319862, 0.22680138],
       [0.32530863, 0.67469137],
       [0.73816838, 0.26183162],
       [0.44319193, 0.55680807],
       [0.50454401, 0.49545599],
       [0.82748139, 0.17251861],
       [0.46251125, 0.53748875],
       [0.75517518, 0.24482482],
       [0.73808843, 0.26191157],
       [0.84620718, 0.15379282],
       [0.64143515, 0.35856485],
       [0.62462667, 0.37537333],
       [0.56919939, 0.43080061],
       [0.70665265, 0.29334735],
       [0.44768875, 0.55231125],
       [0.77195577, 0.22804423],
       [0.52419758, 0.47580242],
       [0.32894083, 0.67105917],
       [0.63026639, 0.36973361],
       [0.74021297, 0.25978703],
       [0.22163123, 0.77836877],
       [0.74876543, 0.25123457],
       [0.76102165, 0.23897835],
       [0.40734607, 0.59265393],
       [0.67058863, 0.32941137],
       [0.43964785, 0.56035215],
       [0.78437813, 0.21562187],
       [0.54663869, 0.45336131],
       [0.55113824, 0.44886176],
       [0.80698184, 0.19301816],
       [0.68782302, 0.31217698],
       [0.59315874, 0.40684126],
       [0.56197732, 0.43802268],
       [0.17406733, 0.82593267],
       [0.46132655, 0.53867345],
       [0.76875025, 0.23124975],
       [0.59001475, 0.40998525],
       [0.68011382, 0.31988618],
       [0.88539105, 0.11460895],
       [0.42277005, 0.57722995],
       [0.18926174, 0.81073826],
       [0.44877011, 0.55122989],
       [0.76031778, 0.23968222],
       [0.73458696, 0.26541304],
       [0.6241642 , 0.3758358 ],
       [0.36074132, 0.63925868],
       [0.59771   , 0.40229   ],
       [0.76216945, 0.23783055],
       [0.59420022, 0.40579978],
       [0.40710981, 0.59289019],
       [0.48869692, 0.51130308],
       [0.79090412, 0.20909588],
       [0.84411867, 0.15588133],
       [0.46653673, 0.53346327],
       [0.30065687, 0.69934313],
       [0.42360433, 0.57639567],
       [0.74165921, 0.25834079],
       [0.77531461, 0.22468539],
       [0.67058863, 0.32941137],
       [0.73459794, 0.26540206],
       [0.76534316, 0.23465684],
       [0.79378564, 0.20621436],
       [0.62947647, 0.37052353],
       [0.40075351, 0.59924649],
       [0.78152139, 0.21847861],
       [0.46582989, 0.53417011],
       [0.78463954, 0.21536046],
       [0.46887642, 0.53112358],
       [0.356794  , 0.643206  ],
       [0.57617673, 0.42382327],
       [0.74874654, 0.25125346],
       [0.18037469, 0.81962531],
       [0.73084488, 0.26915512],
       [0.74238113, 0.25761887],
       [0.60210892, 0.39789108],
       [0.67866128, 0.32133872]])

In [12]:
mod.score(X_train, y_train)

0.8135338345864662

In [13]:
mod.score(X_test, y_test)

0.7612612612612613

# Regresión logística usando `statsmodels`

In [22]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np

logit_model = sm.Logit(y_train, X_train)
result = logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.482121
         Iterations 6
                        Results: Logit
===============================================================
Model:              Logit            No. Iterations:   6.0000
Dependent Variable: Survived         Pseudo R-squared: 0.277
Date:               2018-10-04 07:36 AIC:              651.2204
No. Observations:   665              BIC:              673.7193
Df Model:           4                Log-Likelihood:   -320.61
Df Residuals:       660              LL-Null:          -443.18
Converged:          1.0000           Scale:            1.0000
-----------------------------------------------------------------
        Coef.    Std.Err.      z       P>|z|     [0.025    0.975]
-----------------------------------------------------------------
2       0.6824     0.2370     2.8798   0.0040    0.2180    1.1469
3      -0.1548     0.1798    -0.8608   0.3894   -0.5071    0.1976
male   -2.2384     0.1982   -11.2916   0.0000   -2.6269   -1.8498
Age     0.0061     0.0056     1.0964   0.2729   -0.0048    0.0171
Fare    0.0142     0.0028     5.1182   0.0000    0.0087    0.0196
===============================================================

In [23]:
result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Logit
===============================================================
Model:              Logit            No. Iterations:   6.0000
Dependent Variable: Survived         Pseudo R-squared: 0.277
Date:               2018-10-04 07:36 AIC:              651.2204
No. Observations:   665              BIC:              673.7193
Df Model:           4                Log-Likelihood:   -320.61
Df Residuals:       660              LL-Null:          -443.18
Converged:          1.0000           Scale:            1.0000
-----------------------------------------------------------------
        Coef.    Std.Err.      z       P>|z|     [0.025    0.975]
-----------------------------------------------------------------
2       0.6824     0.2370     2.8798   0.0040    0.2180    1.1469
3      -0.1548     0.1798    -0.8608   0.3894   -0.5071    0.1976
male   -2.2384     0.1982   -11.2916   0.0000   -2.6269   -1.8498
Age     0.0061     0.0056     1.0964   0.2729   -0.0048    0.0171
Fare    0.0142     0.0028     5.1182   0.0000    0.0087    0.0196
===============================================================

"""

In [24]:
train_cols = data.columns[1:]
# Index([gre, gpa, prestige_2, prestige_3, prestige_4], dtype=object)

logit = sm.Logit(data['admit'], data[train_cols])

# fit the model
result = logit.fit()

NameError: name 'data' is not defined

In [35]:
mod3 = smf.logit(formula='Survived ~ Age + Fare + Sex + Pclass', data=dt).fit()
print(mod3.params)

Optimization terminated successfully.
         Current function value: 0.451853
         Iterations 6
Intercept      4.839682
Sex[T.male]   -2.586525
Age           -0.034239
Fare           0.000320
Pclass        -1.220037
dtype: float64

In [39]:
mod3.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Logit
===============================================================
Model:              Logit            No. Iterations:   6.0000
Dependent Variable: Survived         Pseudo R-squared: 0.322
Date:               2018-10-04 07:49 AIC:              811.5880
No. Observations:   887              BIC:              835.5273
Df Model:           4                Log-Likelihood:   -400.79
Df Residuals:       882              LL-Null:          -591.38
Converged:          1.0000           Scale:            1.0000
---------------------------------------------------------------
                Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
---------------------------------------------------------------
Intercept       4.8397   0.5252   9.2153 0.0000  3.8104  5.8690
Sex[T.male]    -2.5865   0.1877 -13.7827 0.0000 -2.9543 -2.2187
Age            -0.0342   0.0072  -4.7710 0.0000 -0.0483 -0.0202
Fare            0.0003   0.0020   0.1568 0.8754 -0.0037  0.0043
Pclass         -1.2200   0.1417  -8.6098 0.0000 -1.4978 -0.9423
===============================================================

"""