# Ejemplo de Regresión Logística
<img src="https://raw.githubusercontent.com/fhernanb/fhernanb.github.io/master/docs/logo_unal_color.png" alt="drawing" width="200"/>

# Objetivo
En este ejemplo se busca crear un clasificador para saber si una persona sobrevive o no en el naufragio del Titanic.

<img src="https://raw.githubusercontent.com/fhernanb/Python-para-estadistica/master/imagenes/titanic.png" alt="drawing" width="900">

In [1]:
import pandas as pd  # Librería con las funciones read_table y read_csv
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression

Para cargar los datos del ejemplo se hace lo siguiente:

In [2]:
dt = pd.read_csv("titanic.csv", sep=",")
dt.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
pclass = pd.get_dummies(dt['Pclass'])
dt = pd.concat([dt, pclass], axis=1)
dt.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,1,2,3
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,0,0,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,1,0,0
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,1,0,0
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,0,0,1

In [4]:
sex = pd.get_dummies(dt['Sex'])
dt = pd.concat([dt, sex], axis=1)
dt.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,1,2,3,female,male
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,0,0,1,0,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,1,0,0,1,0
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1,1,0
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,1,0,0,1,0
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,0,0,1,0,1

In [27]:
dt['clase'] = dt['Pclass']
dt['clase'] = dt['clase'].astype(str)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,1,2,3,female,male,clase
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,0,0,1,0,1,3
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,1,0,0,1,0,1
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1,1,0,3
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,1,0,0,1,0,1
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,0,0,1,0,1,3

## Creación de los datos de entrenamiento (train) y de validación (test)
Para particionar los datos originales se usa la función `train_test_split`, para mayores detalles se recomienda consultar los parámetros de la función se recomienda consultar este [enlace](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [6]:
datos = dt[[2, 3, 'male', 'Age', 'Fare']]
respuesta = dt['Survived']
X_train, X_test, y_train, y_test = train_test_split(datos, respuesta, test_size=0.25)

print(X_train.head())
print()
print(y_train.head())

     2  3  male   Age      Fare
635  0  1     0  41.0   39.6875
697  0  0     0  18.0  227.5250
72   0  1     1  26.0   14.4542
40   0  1     0  40.0    9.4750
847  0  1     1  74.0    7.7750

635    0
697    1
72     0
40     0
847    0
Name: Survived, dtype: int64

# Regresión logística usando `sklearn`

In [7]:
mod1 = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(X_train, y_train)

In [8]:
mod1.predict_proba(X_train) # Para ver las P(Y=0) y P(Y=1) en train

array([[0.53402564, 0.46597436],
       [0.18449043, 0.81550957],
       [0.76087624, 0.23912376],
       ...,
       [0.77960191, 0.22039809],
       [0.60505502, 0.39494498],
       [0.77120258, 0.22879742]])

In [9]:
mod1.predict_proba(X_test) # Para ver las P(Y=0) y P(Y=1) en test

array([[0.20715007, 0.79284993],
       [0.70802784, 0.29197216],
       [0.8120662 , 0.1879338 ],
       [0.73820124, 0.26179876],
       [0.4333677 , 0.5666323 ],
       [0.62147045, 0.37852955],
       [0.50577729, 0.49422271],
       [0.71687726, 0.28312274],
       [0.76581306, 0.23418694],
       [0.74110784, 0.25889216],
       [0.50962805, 0.49037195],
       [0.85585848, 0.14414152],
       [0.8035856 , 0.1964144 ],
       [0.62855456, 0.37144544],
       [0.22173348, 0.77826652],
       [0.41934346, 0.58065654],
       [0.82070685, 0.17929315],
       [0.80612798, 0.19387202],
       [0.77257386, 0.22742614],
       [0.30009192, 0.69990808],
       [0.31773219, 0.68226781],
       [0.48726548, 0.51273452],
       [0.63209361, 0.36790639],
       [0.54086854, 0.45913146],
       [0.78335517, 0.21664483],
       [0.49884128, 0.50115872],
       [0.48542438, 0.51457562],
       [0.7308513 , 0.2691487 ],
       [0.49747874, 0.50252126],
       [0.50279458, 0.49720542],
       [0.50968496, 0.49031504],
       [0.52750498, 0.47249502],
       [0.74997776, 0.25002224],
       [0.7558119 , 0.2441881 ],
       [0.53243127, 0.46756873],
       [0.74006369, 0.25993631],
       [0.46408655, 0.53591345],
       [0.69129341, 0.30870659],
       [0.82476068, 0.17523932],
       [0.54726241, 0.45273759],
       [0.56615382, 0.43384618],
       [0.17867791, 0.82132209],
       [0.61699969, 0.38300031],
       [0.62049432, 0.37950568],
       [0.79491496, 0.20508504],
       [0.5765458 , 0.4234542 ],
       [0.56536552, 0.43463448],
       [0.68204253, 0.31795747],
       [0.59157232, 0.40842768],
       [0.7090603 , 0.2909397 ],
       [0.62259816, 0.37740184],
       [0.38896119, 0.61103881],
       [0.71294467, 0.28705533],
       [0.26512992, 0.73487008],
       [0.75865048, 0.24134952],
       [0.45251479, 0.54748521],
       [0.41359216, 0.58640784],
       [0.80354867, 0.19645133],
       [0.74704582, 0.25295418],
       [0.50445658, 0.49554342],
       [0.5892657 , 0.4107343 ],
       [0.41507407, 0.58492593],
       [0.49893668, 0.50106332],
       [0.61045585, 0.38954415],
       [0.49087666, 0.50912334],
       [0.74408429, 0.25591571],
       [0.76136091, 0.23863909],
       [0.26919298, 0.73080702],
       [0.74562919, 0.25437081],
       [0.62119972, 0.37880028],
       [0.46408655, 0.53591345],
       [0.75003062, 0.24996938],
       [0.85395027, 0.14604973],
       [0.7878816 , 0.2121184 ],
       [0.7194354 , 0.2805646 ],
       [0.59761306, 0.40238694],
       [0.78732556, 0.21267444],
       [0.46792901, 0.53207099],
       [0.72910273, 0.27089727],
       [0.77250748, 0.22749252],
       [0.66606562, 0.33393438],
       [0.53402086, 0.46597914],
       [0.57128446, 0.42871554],
       [0.77257386, 0.22742614],
       [0.67293445, 0.32706555],
       [0.59588756, 0.40411244],
       [0.59905105, 0.40094895],
       [0.76360201, 0.23639799],
       [0.30337975, 0.69662025],
       [0.25326663, 0.74673337],
       [0.75292085, 0.24707915],
       [0.77251995, 0.22748005],
       [0.74411059, 0.25588941],
       [0.45283374, 0.54716626],
       [0.7603633 , 0.2396367 ],
       [0.2573082 , 0.7426918 ],
       [0.38783396, 0.61216604],
       [0.27077649, 0.72922351],
       [0.76979262, 0.23020738],
       [0.75580411, 0.24419589],
       [0.79098865, 0.20901135],
       [0.6178122 , 0.3821878 ],
       [0.74986878, 0.25013122],
       [0.84197872, 0.15802128],
       [0.79366478, 0.20633522],
       [0.78053926, 0.21946074],
       [0.75866522, 0.24133478],
       [0.6956065 , 0.3043935 ],
       [0.68840952, 0.31159048],
       [0.68529499, 0.31470501],
       [0.21237607, 0.78762393],
       [0.55211739, 0.44788261],
       [0.7805386 , 0.2194614 ],
       [0.69965632, 0.30034368],
       [0.76702189, 0.23297811],
       [0.45317078, 0.54682922],
       [0.74113102, 0.25886898],
       [0.63209361, 0.36790639],
       [0.78323374, 0.21676626],
       [0.5779504 , 0.4220496 ],
       [0.47088645, 0.52911355],
       [0.8078538 , 0.1921462 ],
       [0.74408429, 0.25591571],
       [0.57286511, 0.42713489],
       [0.46407176, 0.53592824],
       [0.44780191, 0.55219809],
       [0.24771319, 0.75228681],
       [0.76964985, 0.23035015],
       [0.83137673, 0.16862327],
       [0.80118067, 0.19881933],
       [0.73208345, 0.26791655],
       [0.54370389, 0.45629611],
       [0.76700578, 0.23299422],
       [0.63123693, 0.36876307],
       [0.74705053, 0.25294947],
       [0.45613797, 0.54386203],
       [0.75286341, 0.24713659],
       [0.77257218, 0.22742782],
       [0.37570735, 0.62429265],
       [0.53382102, 0.46617898],
       [0.27805458, 0.72194542],
       [0.57229811, 0.42770189],
       [0.62986423, 0.37013577],
       [0.52200573, 0.47799427],
       [0.32956446, 0.67043554],
       [0.29970537, 0.70029463],
       [0.57280559, 0.42719441],
       [0.61754047, 0.38245953],
       [0.70013992, 0.29986008],
       [0.57286511, 0.42713489],
       [0.28090215, 0.71909785],
       [0.68103109, 0.31896891],
       [0.40273388, 0.59726612],
       [0.60376168, 0.39623832],
       [0.69195121, 0.30804879],
       [0.52283923, 0.47716077],
       [0.78059904, 0.21940096],
       [0.23078893, 0.76921107],
       [0.28653905, 0.71346095],
       [0.76979058, 0.23020942],
       [0.53279516, 0.46720484],
       [0.76368889, 0.23631111],
       [0.47866761, 0.52133239],
       [0.51603502, 0.48396498],
       [0.73704474, 0.26295526],
       [0.7725742 , 0.2274258 ],
       [0.29942255, 0.70057745],
       [0.68993649, 0.31006351],
       [0.72237924, 0.27762076],
       [0.79360102, 0.20639898],
       [0.59157232, 0.40842768],
       [0.46408369, 0.53591631],
       [0.2947791 , 0.7052209 ],
       [0.45627071, 0.54372929],
       [0.77792682, 0.22207318],
       [0.3861293 , 0.6138707 ],
       [0.47049562, 0.52950438],
       [0.42963066, 0.57036934],
       [0.76983544, 0.23016456],
       [0.69198997, 0.30801003],
       [0.4069464 , 0.5930536 ],
       [0.21077504, 0.78922496],
       [0.82017968, 0.17982032],
       [0.56153916, 0.43846084],
       [0.53625546, 0.46374454],
       [0.61754047, 0.38245953],
       [0.66046867, 0.33953133],
       [0.76701606, 0.23298394],
       [0.76976305, 0.23023695],
       [0.73519043, 0.26480957],
       [0.46025121, 0.53974879],
       [0.51723373, 0.48276627],
       [0.74054742, 0.25945258],
       [0.4563749 , 0.5436251 ],
       [0.61754047, 0.38245953],
       [0.38726699, 0.61273301],
       [0.49994339, 0.50005661],
       [0.50474645, 0.49525355],
       [0.20673462, 0.79326538],
       [0.73815084, 0.26184916],
       [0.78467391, 0.21532609],
       [0.74340958, 0.25659042],
       [0.7642415 , 0.2357585 ],
       [0.76688649, 0.23311351],
       [0.57224965, 0.42775035],
       [0.56586851, 0.43413149],
       [0.38673405, 0.61326595],
       [0.60799044, 0.39200956],
       [0.67744878, 0.32255122],
       [0.79863959, 0.20136041],
       [0.53547513, 0.46452487],
       [0.74111741, 0.25888259],
       [0.44868411, 0.55131589],
       [0.59905105, 0.40094895],
       [0.30365765, 0.69634235],
       [0.74111741, 0.25888259],
       [0.25148275, 0.74851725],
       [0.76979058, 0.23020942],
       [0.64994968, 0.35005032],
       [0.76142571, 0.23857429],
       [0.80601286, 0.19398714],
       [0.49776927, 0.50223073]])

In [10]:
mod1.predict(X_train)[0:14] # Para ver las predicciones de las primeras 15 obs

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [11]:
mod1.predict(X_test)[0:14] # Para ver las predicciones de las primeras 15 obs

array([1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [12]:
mod1.score(X_train, y_train)

0.7969924812030075

In [13]:
mod1.score(X_test, y_test)

0.8063063063063063

# Regresión logística usando `statsmodels`

In [14]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np

C:\Users\fhbapto\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

## Usando las matrices `X_train` y `y_train`

In [15]:
logit_model = sm.Logit(y_train, X_train)
mod2 = logit_model.fit()
print(mod2.summary2())

Optimization terminated successfully.
         Current function value: 0.491899
         Iterations 6
                        Results: Logit
===============================================================
Model:              Logit            No. Iterations:   6.0000
Dependent Variable: Survived         Pseudo R-squared: 0.269
Date:               2018-10-04 08:39 AIC:              664.2258
No. Observations:   665              BIC:              686.7247
Df Model:           4                Log-Likelihood:   -327.11
Df Residuals:       660              LL-Null:          -447.55
Converged:          1.0000           Scale:            1.0000
-----------------------------------------------------------------
        Coef.    Std.Err.      z       P>|z|     [0.025    0.975]
-----------------------------------------------------------------
2       0.6977     0.2345     2.9756   0.0029    0.2382    1.1573
3      -0.3914     0.1756    -2.2284   0.0259   -0.7356   -0.0472
male   -2.1238     0.1997   -10.6373   0.0000   -2.5151   -1.7325
Age     0.0120     0.0055     2.1677   0.0302    0.0012    0.0229
Fare    0.0123     0.0026     4.7301   0.0000    0.0072    0.0174
===============================================================

## Usando fórmulas

La documentación para `smf.logit` puede ser consultada [aquí](https://www.statsmodels.org/dev/generated/statsmodels.discrete.discrete_model.Logit.fit.html).

In [31]:
mod3 = smf.logit(formula='Survived ~ Age + Fare + Sex + clase', data=dt).fit(method='newton')
print(mod3.params)

Optimization terminated successfully.
         Current function value: 0.451835
         Iterations 6
Intercept      3.593388
Sex[T.male]   -2.585109
clase[T.2]    -1.173931
clase[T.3]    -2.426139
Age           -0.034085
Fare           0.000414
dtype: float64

In [32]:
mod3.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Logit
===============================================================
Model:              Logit            No. Iterations:   6.0000
Dependent Variable: Survived         Pseudo R-squared: 0.322
Date:               2018-10-04 08:46 AIC:              813.5552
No. Observations:   887              BIC:              842.2823
Df Model:           5                Log-Likelihood:   -400.78
Df Residuals:       881              LL-Null:          -591.38
Converged:          1.0000           Scale:            1.0000
---------------------------------------------------------------
                Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
---------------------------------------------------------------
Intercept       3.5934   0.4261   8.4328 0.0000  2.7582  4.4286
Sex[T.male]    -2.5851   0.1879 -13.7580 0.0000 -2.9534 -2.2168
clase[T.2]     -1.1739   0.2912  -4.0319 0.0001 -1.7446 -0.6033
clase[T.3]     -2.4261   0.2937  -8.2615 0.0000 -3.0017 -1.8506
Age            -0.0341   0.0072  -4.7184 0.0000 -0.0482 -0.0199
Fare            0.0004   0.0021   0.1966 0.8441 -0.0037  0.0045
===============================================================

"""