# Ejemplo de Regresión Logística
<img src="https://raw.githubusercontent.com/fhernanb/fhernanb.github.io/master/docs/logo_unal_color.png" alt="drawing" width="200"/>

# Objetivo
En este ejemplo se busca crear un clasificador para saber si una persona sobrevive o no en el naufragio del Titanic.

<img src="https://raw.githubusercontent.com/fhernanb/Python-para-estadistica/master/imagenes/titanic.png" alt="drawing" width="900">

In [1]:
import pandas as pd  # Librería con las funciones read_table y read_csv
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression

In [2]:
dt = pd.read_csv("titanic.csv", sep=",")
dt.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
dt_pclass = pd.get_dummies(dt['Pclass'])
dt_new = pd.concat([dt, dt_pclass], axis=1)
dt_new.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,1,2,3
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,0,0,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,1,0,0
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,1,0,0
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,0,0,1

In [4]:
dtnew_sex = pd.get_dummies(dt['Sex'])
dt_new = pd.concat([dt_new, dtnew_sex], axis=1)
dt_new.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,1,2,3,female,male
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,0,0,1,0,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,1,0,0,1,0
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,0,0,1,1,0
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,1,0,0,1,0
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,0,0,1,0,1

## Creación de los datos de entrenamiento (train) y de validación (test)
Para particionar los datos originales se usa la función `train_test_split`, para mayores detalles se recomienda consultar los parámetros de la función se recomienda consultar este [enlace](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [5]:
datos = dt_new[[2, 3, 'male', 'Age', 'Fare']]
respuesta = dt_new['Survived']
X_train, X_test, y_train, y_test = train_test_split(datos, respuesta, test_size=0.25)

In [6]:
mod = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(X_train, y_train)
mod

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='multinomial',
          n_jobs=1, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [7]:
mod.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'max_iter': 100,
 'multi_class': 'multinomial',
 'n_jobs': 1,
 'penalty': 'l2',
 'random_state': 0,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [8]:
mod.predict(X_train)[0:14]

array([0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0], dtype=int64)

In [9]:
mod.predict(X_test)[0:14]

array([1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [10]:
mod.predict_proba(X_train)

array([[0.75769294, 0.24230706],
       [0.41259575, 0.58740425],
       [0.5787238 , 0.4212762 ],
       ...,
       [0.64883997, 0.35116003],
       [0.77014875, 0.22985125],
       [0.7225097 , 0.2774903 ]])

In [11]:
mod.predict_proba(X_test)

array([[0.31726309, 0.68273691],
       [0.28276227, 0.71723773],
       [0.56280156, 0.43719844],
       [0.6674017 , 0.3325983 ],
       [0.51247523, 0.48752477],
       [0.74189701, 0.25810299],
       [0.33533701, 0.66466299],
       [0.78109863, 0.21890137],
       [0.74589324, 0.25410676],
       [0.68732123, 0.31267877],
       [0.42378173, 0.57621827],
       [0.50793282, 0.49206718],
       [0.53164214, 0.46835786],
       [0.74134193, 0.25865807],
       [0.70384171, 0.29615829],
       [0.79359308, 0.20640692],
       [0.36504074, 0.63495926],
       [0.34905225, 0.65094775],
       [0.79240584, 0.20759416],
       [0.22645925, 0.77354075],
       [0.36963335, 0.63036665],
       [0.83516281, 0.16483719],
       [0.75570605, 0.24429395],
       [0.28951901, 0.71048099],
       [0.53366765, 0.46633235],
       [0.26310336, 0.73689664],
       [0.68119893, 0.31880107],
       [0.87400755, 0.12599245],
       [0.74204985, 0.25795015],
       [0.48520695, 0.51479305],
       [0.22184653, 0.77815347],
       [0.31626855, 0.68373145],
       [0.75403286, 0.24596714],
       [0.7836231 , 0.2163769 ],
       [0.69054339, 0.30945661],
       [0.77606325, 0.22393675],
       [0.48506498, 0.51493502],
       [0.53162827, 0.46837173],
       [0.40387085, 0.59612915],
       [0.76146547, 0.23853453],
       [0.32901576, 0.67098424],
       [0.67750476, 0.32249524],
       [0.82488772, 0.17511228],
       [0.74990288, 0.25009712],
       [0.7706722 , 0.2293278 ],
       [0.6693462 , 0.3306538 ],
       [0.49258129, 0.50741871],
       [0.27676596, 0.72323404],
       [0.77277255, 0.22722745],
       [0.81005603, 0.18994397],
       [0.32942885, 0.67057115],
       [0.71302849, 0.28697151],
       [0.77274851, 0.22725149],
       [0.46019578, 0.53980422],
       [0.33898827, 0.66101173],
       [0.35429365, 0.64570635],
       [0.76151859, 0.23848141],
       [0.74597989, 0.25402011],
       [0.47151118, 0.52848882],
       [0.16689584, 0.83310416],
       [0.79067526, 0.20932474],
       [0.13682313, 0.86317687],
       [0.48301471, 0.51698529],
       [0.7975341 , 0.2024659 ],
       [0.74993422, 0.25006578],
       [0.53354699, 0.46645301],
       [0.76014849, 0.23985151],
       [0.84852332, 0.15147668],
       [0.4385846 , 0.5614154 ],
       [0.50319416, 0.49680584],
       [0.73801979, 0.26198021],
       [0.453818  , 0.546182  ],
       [0.81073181, 0.18926819],
       [0.38984403, 0.61015597],
       [0.52640191, 0.47359809],
       [0.3236857 , 0.6763143 ],
       [0.76531755, 0.23468245],
       [0.81462067, 0.18537933],
       [0.58832163, 0.41167837],
       [0.82929372, 0.17070628],
       [0.1746479 , 0.8253521 ],
       [0.74110244, 0.25889756],
       [0.7539106 , 0.2460894 ],
       [0.21637306, 0.78362694],
       [0.43851717, 0.56148283],
       [0.66017994, 0.33982006],
       [0.40569192, 0.59430808],
       [0.63328929, 0.36671071],
       [0.34979009, 0.65020991],
       [0.17015968, 0.82984032],
       [0.78361878, 0.21638122],
       [0.80883529, 0.19116471],
       [0.52940465, 0.47059535],
       [0.71515041, 0.28484959],
       [0.62949219, 0.37050781],
       [0.54048351, 0.45951649],
       [0.33397274, 0.66602726],
       [0.29836745, 0.70163255],
       [0.61794745, 0.38205255],
       [0.5004098 , 0.4995902 ],
       [0.74595086, 0.25404914],
       [0.65801252, 0.34198748],
       [0.44877718, 0.55122282],
       [0.44895967, 0.55104033],
       [0.36220512, 0.63779488],
       [0.81701507, 0.18298493],
       [0.45943255, 0.54056745],
       [0.43826289, 0.56173711],
       [0.68309223, 0.31690777],
       [0.7799668 , 0.2200332 ],
       [0.31714245, 0.68285755],
       [0.76154893, 0.23845107],
       [0.76164501, 0.23835499],
       [0.83225476, 0.16774524],
       [0.75761666, 0.24238334],
       [0.28463866, 0.71536134],
       [0.83803027, 0.16196973],
       [0.23892558, 0.76107442],
       [0.3741732 , 0.6258268 ],
       [0.7215355 , 0.2784645 ],
       [0.23055793, 0.76944207],
       [0.42236794, 0.57763206],
       [0.45904985, 0.54095015],
       [0.71678878, 0.28321122],
       [0.45904985, 0.54095015],
       [0.29018949, 0.70981051],
       [0.76154893, 0.23845107],
       [0.3979632 , 0.6020368 ],
       [0.55766967, 0.44233033],
       [0.75342975, 0.24657025],
       [0.82929372, 0.17070628],
       [0.39348542, 0.60651458],
       [0.44646111, 0.55353889],
       [0.4279975 , 0.5720025 ],
       [0.79750711, 0.20249289],
       [0.53842221, 0.46157779],
       [0.48565333, 0.51434667],
       [0.61411649, 0.38588351],
       [0.81069762, 0.18930238],
       [0.70948233, 0.29051767],
       [0.5816401 , 0.4183599 ],
       [0.74162772, 0.25837228],
       [0.6075069 , 0.3924931 ],
       [0.7651025 , 0.2348975 ],
       [0.44483746, 0.55516254],
       [0.69969983, 0.30030017],
       [0.68883403, 0.31116597],
       [0.67972851, 0.32027149],
       [0.82927434, 0.17072566],
       [0.42122269, 0.57877731],
       [0.77995565, 0.22004435],
       [0.20432546, 0.79567454],
       [0.49547917, 0.50452083],
       [0.59301304, 0.40698696],
       [0.56639818, 0.43360182],
       [0.84907912, 0.15092088],
       [0.49749989, 0.50250011],
       [0.77643479, 0.22356521],
       [0.78005481, 0.21994519],
       [0.78818719, 0.21181281],
       [0.51663654, 0.48336346],
       [0.86498595, 0.13501405],
       [0.74991811, 0.25008189],
       [0.76598176, 0.23401824],
       [0.21571268, 0.78428732],
       [0.82014666, 0.17985334],
       [0.75464144, 0.24535856],
       [0.2492874 , 0.7507126 ],
       [0.6630404 , 0.3369596 ],
       [0.45904985, 0.54095015],
       [0.47917414, 0.52082586],
       [0.76545466, 0.23454534],
       [0.7737398 , 0.2262602 ],
       [0.54055901, 0.45944099],
       [0.78078065, 0.21921935],
       [0.54460136, 0.45539864],
       [0.89573119, 0.10426881],
       [0.79215564, 0.20784436],
       [0.76532171, 0.23467829],
       [0.63922257, 0.36077743],
       [0.79080891, 0.20919109],
       [0.68898026, 0.31101974],
       [0.3924503 , 0.6075497 ],
       [0.82328488, 0.17671512],
       [0.69822287, 0.30177713],
       [0.61778376, 0.38221624],
       [0.78715669, 0.21284331],
       [0.5980656 , 0.4019344 ],
       [0.45898069, 0.54101931],
       [0.26638406, 0.73361594],
       [0.73926042, 0.26073958],
       [0.37227695, 0.62772305],
       [0.69026063, 0.30973937],
       [0.27913501, 0.72086499],
       [0.22330601, 0.77669399],
       [0.80088638, 0.19911362],
       [0.1936811 , 0.8063189 ],
       [0.78710536, 0.21289464],
       [0.39603118, 0.60396882],
       [0.67394151, 0.32605849],
       [0.75737676, 0.24262324],
       [0.45384561, 0.54615439],
       [0.4623908 , 0.5376092 ],
       [0.44404869, 0.55595131],
       [0.76154893, 0.23845107],
       [0.36832871, 0.63167129],
       [0.24469963, 0.75530037],
       [0.4904438 , 0.5095562 ],
       [0.50057567, 0.49942433],
       [0.8170855 , 0.1829145 ],
       [0.8069989 , 0.1930011 ],
       [0.52303319, 0.47696681],
       [0.77270693, 0.22729307],
       [0.44348278, 0.55651722],
       [0.67593232, 0.32406768],
       [0.78718235, 0.21281765],
       [0.78715436, 0.21284564],
       [0.75383438, 0.24616562],
       [0.42279874, 0.57720126],
       [0.86575037, 0.13424963],
       [0.80095374, 0.19904626],
       [0.79066105, 0.20933895]])

In [12]:
mod.score(X_train, y_train)

0.8150375939849624

In [13]:
mod.score(X_test, y_test)

0.7477477477477478

In [20]:
import statsmodels.api as sm
logit_model = sm.Logit(y_train, X_train)
result = logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.475109
         Iterations 6
                        Results: Logit
===============================================================
Model:              Logit            No. Iterations:   6.0000
Dependent Variable: Survived         Pseudo R-squared: 0.275
Date:               2018-10-03 18:39 AIC:              641.8953
No. Observations:   665              BIC:              664.3942
Df Model:           4                Log-Likelihood:   -315.95
Df Residuals:       660              LL-Null:          -436.00
Converged:          1.0000           Scale:            1.0000
-----------------------------------------------------------------
        Coef.    Std.Err.      z       P>|z|     [0.025    0.975]
-----------------------------------------------------------------
2       0.5764     0.2359     2.4429   0.0146    0.1139    1.0388
3      -0.3213     0.1811    -1.7741   0.0760   -0.6762    0.0337
male   -2.1421     0.1992   -10.7552   0.0000   -2.5324   -1.7517
Age     0.0042     0.0057     0.7411   0.4586   -0.0070    0.0155
Fare    0.0153     0.0030     5.1307   0.0000    0.0095    0.0212
===============================================================

In [25]:
result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Logit
===============================================================
Model:              Logit            No. Iterations:   6.0000
Dependent Variable: Survived         Pseudo R-squared: 0.275
Date:               2018-10-03 18:39 AIC:              641.8953
No. Observations:   665              BIC:              664.3942
Df Model:           4                Log-Likelihood:   -315.95
Df Residuals:       660              LL-Null:          -436.00
Converged:          1.0000           Scale:            1.0000
-----------------------------------------------------------------
        Coef.    Std.Err.      z       P>|z|     [0.025    0.975]
-----------------------------------------------------------------
2       0.5764     0.2359     2.4429   0.0146    0.1139    1.0388
3      -0.3213     0.1811    -1.7741   0.0760   -0.6762    0.0337
male   -2.1421     0.1992   -10.7552   0.0000   -2.5324   -1.7517
Age     0.0042     0.0057     0.7411   0.4586   -0.0070    0.0155
Fare    0.0153     0.0030     5.1307   0.0000    0.0095    0.0212
===============================================================

"""

In [ ]:
train_cols = data.columns[1:]
# Index([gre, gpa, prestige_2, prestige_3, prestige_4], dtype=object)

logit = sm.Logit(data['admit'], data[train_cols])

# fit the model
result = logit.fit()